@model ProjectViewModel

@{
    ViewData["Title"] = "Create Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Project</h1>

<h4>Projects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Root" class="control-label"></label>
                <input asp-for="Root" class="form-control" />
                <span asp-validation-for="Root" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p><small>Select the branch contains all development code & everyone works on</small></p>
                
                @foreach (var branch in Model.DevelopmentBranches)
                {
                    <input type="radio" asp-for="DevelopmentBranch" value="@branch" />@branch<br />
                }
            </div>
            <div class="form-group">
                <label asp-for="OtherBranch" class="control-label"></label>
                <input asp-for="OtherBranch" class="form-control" />
                <span asp-validation-for="OtherBranch" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
